load data 
CHARACTERSET {{ .Character }}
infile "{{ .FilePath }}" "str X'0D0A'"
badfile "{{ .BadFilePath }}"
discardfile "{{ .DiscardFilePath }}"
APPEND INTO TABLE {{ .TableOracleSchema }}.{{ .TableName }}
fields terminated by "{{ .Terminator }}" trailing nullcols({{ .Columns }})