[lightning]
level = "info"
file = "./{{ .BatchID }}_lightning.log"

[tikv-importer]
# 选择使用的 local 后端
backend = "local"
# 设置排序的键值对的临时存放地址，目标路径需要是一个空目录，最好放在本地高读写带宽的 SSD/NVME 盘上面
sorted-kv-dir = "/sort_dir"

[mydumper]
data-source-dir = "{{ .DumpDataDir }}"
no-schema=true
character-set = "utf8mb4"
data-character-set = "utf8mb4"
data-invalid-char-replace = "\uFFFD"

[mydumper.csv]
header = false
separator = '|#|'
delimiter = ''
trim-last-separator = false
terminator = "|+|\n"
null = ''
backslash-escape = false

[checkpoint]
enable = true
driver = "file"
dsn = "/tmp/{{ .BatchID }}.pb"

[tidb]
host = "{{ .TiDBDB.Host }}"
port = {{ .TiDBDB.Port }}
user = "{{ .TiDBDB.User }}"
password = "{{ .TiDBDB.Password }}"
status-port = {{ .TiDBDB.StatusPort }}
pd-addr = "{{ .TiDBDB.PDAddr }}"

[post-restore]
checksum = true
analyze = false

[cron]
switch-mode = "5m"
log-progress = "5m"