[log]
log-level = "debug"
log-path = "dbcompare.log"
log-dir = "./work/log"

[operator]
concurrency = 5


[tidb-config]
host = '127.0.0.1'
port = 4000
user = "root"
password = ""
database = "test"
status-port = 10080
pd-addr = "127.0.0.1:2379"


[oracle-config]
host = '1.2.3.4'
port = 1539
user = "user"
password = "123456"
service-name = "orcl"
schema-name = ""


[sync-diff-control]
sync-template = "./config/sync-diff-config.tmpl"
conf-dir = "./work/conf"
bin-path = "./work/bin/o2t-sync-diff"



[t2o-init]
dumpling-bin-path = "./dumpling"
sqlldr-bin-path = "./sqlldr"
sqlldr-extra-args = ""
dump-data-dir = "./work/tidbdump"
dump-extra-args = "--no-schemas --no-header"
oracle-ctl-file-dir = "./work/ctl"
ctl-template = "./config/ctl.tmpl"
truncate-before-load = false

[o2t-init]
sqlldr2-bin-path = "./sqlldr2"
sqlldr2-extra-args = " batch=yes field=\"0x7c0x230x7c\" record=\"0x7c0x2b0x7c0x0a\" charset=ZHS16GBK safe=yes"
dump-data-dir = "./work/oracledump"
lightning-bin-path = "./tidb-lightning"
lightning-toml-template = "./config/lightning_toml.tmpl"
lightning-extra-args = " "










