[log]
log-level = "debug"
log-path = "dbcompare.log"
log-dir = "./work/log"


[tidb-config]
host = '127.0.0.1'
port = 4000
user = "root"
password = ""
database = "test"

[oracle-config]
host = '1.2.3.4'
port = 1539
user = "user"
password = "123456"
service-name = "orcl"
schema-name = ""


[sync-ctl-config]
sync-template = "./config/sync-diff-config.tmpl"
conf-dir = "./work/conf"
concurrency = 3
bin-path = "./work/bin/o2t-sync-diff"



[sync-fix-config]
dumpling-bin-path = "./dumpling"
sqlldr-bin-path = "./sqlldr"
dump-data=dir = "./work/dump"
concurrency = 5
dump-extra-args = "-F 256MB"
oracle-ctl-file-dir = "./work/ctl"
ctl-template = "./config/ctl.tmpl"







